/* .service{
    width: 100%;
    padding-top: 100px;
}
.hero{
    width: 100%;
    height: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../../assets/images/angular.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.service_part2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid red;
} */